.section{
    padding: 0;
    & li{
        list-style-type: none;
        // border: 1px solid;

        .content{
            color: #999;
            font-family: monospace;
        }

        &:first-of-type{
            // border: 1px solid;
            color: #2196F3;            
        }

        &:not(:last-of-type){
            margin-bottom: 1rem;            
        }
        
    }
}

.pointers{    
    margin-top: 1.25rem;
    & li{
        margin-bottom:0.5rem !important;
        color: inherit !important;
        list-style-type: circle !important;
    }
}