<div style="padding: 60px 60px;">
    <header>
        <div>
            <span class="mat-display-4" style="font-family: calibri;color: #2196F3;">Bibek Saini</span>
        </div>
        <div>
            <span class="mat-h1" style="font-family: monospace;">Full-Stack Software Engineer</span>      
        </div>
        <div class="row m-0 mat-h3 mt-2">
            <div class="col-3 p-0">
                <fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon>
                <span>itsbibeksaini@gmail.com</span>
            </div>
            <div class="col-3 p-0">
                <fa-icon [icon]="faPhoneAlt" class="mr-2"></fa-icon>
                <span>+91-9478889924</span>
            </div>
            <div class="col-3 p-0">
                <fa-icon [icon]="faHome" class="mr-2"></fa-icon>
                <span>itsbibeksaini.com</span>
            </div>
            <div class="col-3 p-0">
                <fa-icon [icon]="faGithub" class="mr-2"></fa-icon>
                <span>github.com/itsbibeksaini</span>
            </div>            
        </div>
    </header>

    <div class="mt-5 container-fluid p-0" fxLayoutGap="20px">
        <div fxFlex>
            <ul class="section">
                <li>
                    <span class="mat-h1 display-block" style="font-family: calibri" >Relevant Experience</span>
                </li>
                <li>
                    <header class="mat-h2 m-0">
                        <span style="font-family: calibri" >Senior Software Engineer @</span>
                        <span style="color: #5F6986;">CatalystOne Info Solutions Pvt Ltd</span>
                    </header>
                    <div class="content">
                        <span>Dec, 2020 - Present</span>
                        <ul class="pointers">
                            <li>
                                Identified and tracked defects with SonarQube and supported developers in resolving problems by completing additional tests.
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <header class="mat-h2 m-0">
                        <span style="font-family: calibri" >Software Engineer @</span>
                        <span style="color: #5F6986;">CatalystOne Info Solutions Pvt Ltd</span>
                    </header>
                    <div class="content">
                        <span>May, 2018 - Dec, 2020</span>
                        <ul class="pointers">
                            <li>
                                Collaborated with cross-functional development team members to analyze potential system solutions based on evolving client requirements.
                            </li>
                            <li>
                                Identified and tracked defects with SonarQube and supported developers in resolving problems by completing additional tests.
                            </li>
                            <li>
                                Debugged code and located root causes of problems by reviewing configuration files and logs.
                            </li>
                            <li>
                                Collaborated with developers and product owners to stay current on product features and intended functionality.
                            </li>                            
                        </ul>
                    </div>
                </li>
                <li>
                    <header class="mat-h2 m-0">
                        <span style="font-family: calibri" >Associate Software Engineer @</span>
                        <span style="color: #5F6986;">CatalystOne Info Solutions Pvt Ltd</span>
                    </header>
                    <div class="content">
                        <span>July, 2016 - May, 2018</span>
                        <ul class="pointers">
                            <li>
                                Researched, designed and implemented scalable applications for information identification, extraction, analysis, retrieval and indexing.
                            </li>
                            <li>
                                Tested troubleshooting methods, devised innovative solutions, and documented resolutions for inclusion in knowledge base for support team use.
                            </li>
                            <li>
                                Modified existing SAAS software to correct coding errors, upgrade interfaces and improve overall performance.
                            </li>
                            <li>
                                Worked with project managers, developers, quality assurance and customers to resolve technical issues.
                            </li>
                            <li>
                                Introduced methodologies and best practices to software development division to enhance product definition and application customization.
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <header class="mat-h2 m-0">
                        <span style="font-family: calibri" >Trainee @</span>
                        <span style="color: #5F6986;">CatalystOne Info Solutions Pvt Ltd</span>
                    </header>
                    <div class="content">
                        <span>April - July, 2016</span>
                        <ul class="pointers">
                            <li>
                                Participated with preparation of design documents for trackwork, including alignments, specifications, criteria details and estimates.
                            </li>
                            <li>
                                Collaborated with developers and product owners to stay current on product features and intended functionality.
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div fxFlex="250px">
            <ul class="section">
                <li>
                    <span class="mat-h1 display-block" style="font-family: calibri" >Skills</span>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Programming Languages</span>
                    </header>
                    <div class="content">
                        c#.net, ASP.net, Java, HTML, CSS/SASS, Typescript
                    </div>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Libraries & Frameworks</span>
                    </header>
                    <div class="content">
                        Entity Framework, AutoMapper, Spring boot, Angular, JQuery
                    </div>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Tools & Platforms</span>
                    </header>
                    <div class="content">
                        Git, SQL Server, MongoDB, Docker, Kubernetes, Heml, Azure, Consul, Postman, Fork, Swagger(OpenApi), Visual Studio, InteliJ Idea                        
                    </div>
                </li>                
            </ul>
            <ul class="section">
                <li>
                    <span class="mat-h1 display-block" style="font-family: calibri" >Education</span>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Amritsar college of engineering and technology</span>
                    </header>
                    <div class="content">
                        <span class="display-block mb-2">2012-2016 Amritsar, Punjab IN</span>
                        <span class="display-block">Bachelor's of technology computer science and engineering</span>
                    </div>
                </li>
            </ul>
            <ul class="section">
                <li>
                    <span class="mat-h1 display-block" style="font-family: calibri" >Projects</span>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Task Manager</span>
                    </header>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Task Board</span>
                    </header>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Mailer</span>
                    </header>
                </li>
                <li>
                    <header>
                        <span class="mat-h2" style="font-family: calibri" >Music Store</span>
                    </header>
                </li>
            </ul>
            <ul class="section">
                <li>
                    <span class="mat-h1 display-block" style="font-family: calibri" >Interests</span>
                </li>
                <li>
                    <div class="content">
                        Programming, Playing video games, Listening music
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>