<div  class="container-fluid h-100 p-0">
    <div fxFlex="320px" class="sidebar">
        <header class="padding2030 text-center">
            <span class="mat-display-3 display-block m-0"><b>Bibek</b> Saini</span>
            <span class="mat-h3 display-block">Senior Software Engineer</span>
            <hr>
        </header>

        <div class="padding2030">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faIdBadge" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1"><b>CONTACT</b> ME</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>           
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGlobe" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://itsbibeksaini.com" target="_blank">itsbibeksaini.com</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faEnvelope" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="mailto:itsbibeksaini@gmail.com">itsbibeksaini@gmail.com</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faMobileAlt" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3">+91 9478889924</span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGithub" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://github.com/itsbibeksaini">github.com/itsbibeksaini</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faLinkedin" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://www.linkedin.com/in/itsbibeksaini/">linkedin.com/in/itsbibeksaini</a></span>
                    </div>                    
                </li>          
            </ul>
        </div>

        <!--Skills-->
        <div class="padding2030">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faTools" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1">SKILLS</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>   
                </li>
                <li class="pl-3">

                    <ul>
                        <li>
                            <header>
                                <span class="mat-h3 font-weight-bold">FRONTEND</span>
                            </header>
                            <div class="container-fluid p-0" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Angular(8+),</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>RxJS,</span>
                                </div>                                                                
                                <div fxFlex="fit-content" class="p-1">
                                    <span>HTML5,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>CSS3,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>JavaScript(ES6+),</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>TypeScript.</span>
                                </div>
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">BACKEND</span>
                            </header>

                            <div class="container-fluid p-0" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Java(8),</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>ASP.NET Core,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Entity Framework,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Spring Framework,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Java Persistence API(JPA).</span>
                                </div>                                  
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">DATABASE TOOLS</span>
                            </header>
                            <div class="container-fluid p-0" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <span>MS SQL Server,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>MySQL,</span>
                                </div>                                                                
                                <div fxFlex="fit-content" class="p-1">
                                    <span>MongoDB,</span>
                                </div>                                 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">DEPLOYMENT TOOLS</span>
                            </header>
                            <div class="container-fluid p-0" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Docker,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Kubernetes,</span>
                                </div>              
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Azure Kubernetes Services,</span>
                                </div>                    
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Helm.</span>
                                </div> 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">FRAMEWORKS & DESIGN PATTERNS</span>
                            </header>
                            <div class="container-fluid p-0" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Micro-Services,</span>
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <span>RESTful API,</span>
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <span>gRPC,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Consul,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Ocelot.</span>
                                </div> 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">VERSION CONTROL</span>
                            </header>
                            <div class="container-fluid p-0" fxLayout="row wrap">                                
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Git,</span>
                                </div>  
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Github,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Github Desktop,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>GitKraken,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Fork,</span>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <span>Mercurial.</span>
                                </div>                                
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class="container-fluid" fxLayout="row wrap" fxLayoutAlign="center"> 
                        <li fxFlex="fit-content" class="p-1">
                            Java
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            C#
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Asp.net Core
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Spring boot
                        </li>                        
                        <li fxFlex="fit-content" class="p-1">
                            Entity framework
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Angular
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            MS Sql Server
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            MongoDB
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Consul
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Kubernetes
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Docker
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Micro-services
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Azure
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Git
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            Github
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            RESTful api
                        </li>
                        <li fxFlex="fit-content" class="p-1">
                            gRPC
                        </li>
                    </ul> -->
                </li>
            </ul>
        </div>

        <div class="padding2030">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGraduationCap" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1">EDUCATION</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>   
                </li>
                <li class="pl-3">
                    <span class="mat-h3 font-weight-bold display-block m-0">I. K. Gujral Punjab Technical University.</span>
                    <span class="mat-body display-block m-0">2012 - 2016 Amritsar, Punjab IN.</span>
                    <span class="mat-body">Bachelor's of Technology Computer Science and Engineering.</span>
                </li>
            </ul>
        </div>
    </div>
    <div fxFlex class="container-fluid padding2030" fxLayout="column">
        <!-- <div fxFlex>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faStar" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;">HIGHLIGHTS</span>
                </div>
            </header>
            <div class="pl-2">
                <ul>
                    <li>
                        5 years of experience as full stack software engineer in developing SaaS applications, building HCM cloud application.
                    </li>
                    <li>
                        Bachelor's degree in Computer Science and Engineer.
                    </li>
                    <li>
                        Well proven analytical, communication and desision making skills with ability to learn fast, innovate and problem solve under pressure.
                    </li>
                </ul>
            </div> 
        </div> -->
        <!--Work experinece-->
        <div fxFlex>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faBriefcase" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;"><b>WORK</b> EXPERIENCE</span>
                </div>
            </header> 
            <div class="pl-5 mt-2">
                <span class="mat-h1">CatalystOne Info Solutions Pvt Ltd.</span>
            </div>
            <ul class="timeline">
                <li class="event" data-date="Senior Software Engineer (July, 2018 - Present)">
                    <!-- <h3>Senior Software Engineer.</h3> -->
                    <div>
                        <ul style="text-align: justify;">
                            <!-- <li>
                                Developed endpoint in monolith using Jersey RESTful Web Services.
                            </li>
                            <li>
                                Added/enhanced unit test coverage using JUnit and mokito.
                            </li>
                            <li>
                                Researched and proposed various secuirty by default methods for various micro-apps in microservices architecture.
                            </li>
                            <li>
                                Performed audit of various services in micro-services architecture for missing components.
                            </li> -->
                            <li>
                                Developed multiple frontend applications, re-usable components using Angular(8+), RxJS, Observables, TypeScript, JavaScript(ES6+).
                            </li>
                            <li>
                                Developed UI/UX components using HTML5, CSS3(Bootstrap, Material UI and Animate.css) and CSS preprocessors such as SAAS and LESS.
                            </li>                            
                            <li>
                                Built RESTful API's to perform CRUD operations and used Swagger(OpenAPI) to design, build and document.
                                <!-- <ul>
                                    <li>
                                        Used Swagger(OpenAPI) design, build, document and used RESTful Web Services.
                                    </li>
                                </ul> -->
                            </li>                            
                            <li>
                                Mentored multiple teams for building strategies of various modules.
                            </li>
                            <li>
                                Used Jira, Confluence for software documentation & sprint management.
                            </li>   
                            <li>
                                Designed and implemented Invoice Manager to help client's organisation digitize their invoice generation system and manage their sales data.
                                <ul>
                                    <li>
                                        Designed backend application using ASP.NET MVC and implemented core framework using C#.
                                    </li>
                                    <li>
                                        Used Dependency Injection to reduce the tight coupling among software components.
                                    </li>
                                    <li>
                                        Used Entity Framework Object Relational Mapping (ORM) framework for storing and accessing the data in the database.
                                    </li>
                                    <li>
                                        Wrote unit test using xUnit.
                                    </li>
                                </ul>                                
                            </li>    
                            <li>
                                Used Microsoft SQL Server and made Entity Relationship Diagrams(ERD) to visualize business model.
                            </li>
                            <li>
                                Version control system using GIT repository, created pull requests, did code reviews and managed branches.
                            </li>
                            <li>
                                Deployed Azure Pipelines for CI/CD, TDD to automate deployment on Azure Kubernetes Services(AKS).
                            </li>                     
                        </ul>
                    </div>
                </li>                
                <!-- <li class="event" data-date="Associate Java Developer (July, 2016 - April, 2018)">
                    <div>
                        <ul>
                            <li>
                                Implemented support for multiple role profiles in workflows module so users can assign task to their different profiles.
                            </li>
                            <li>
                                Implemented new date calculation mechanism that converts entered days to deadline date for task based on start date so users can set deadline to various task.
                                <ul>
                                    <li>
                                        Also developed reminder mails for task deadline so users don't miss their task's deadline.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Implemented new UI for module workflows so user experience can be enhanced using HTML5, CSS3, jQuery.
                            </li>                            
                            <li>
                                Implemented new feature in trigger mails to send notification mails when some data is scheduled in user profile so user get notified.
                                <ul>
                                    <li>
                                        Implemented change tracking mechanism using Java so changes done in user profile can be tracked.
                                    </li>
                                    <li>
                                        Created new UI for notification mails using HTML5, CSS3.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Developed custom system roles and integrated them to person type fields in CatalystOne application so that an organisation can create custom roles as per their organisation needs.
                                <ul>
                                    <li>
                                        Created servlet and other layers to accept data from client using Java and stored it in MS SQL Server database.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <li class="event" data-date="Software Developer (April, 2016 - July, 2018)">
                    <div>
                        <ul style="text-align: justify;">                            
                            <li>
                                Designed rewards and recognition(R&R) module that will help to increase motivation of employee to get the best achievement.
                                <ul>
                                    <li>
                                        Designed interactive UI using HTML5, CSS3, jQuery and used Apache velocity template engine to merge dynamic data in template.
                                    </li>
                                    <li>
                                        Created REST API endpoints using SpringBoot, JPA, Spring Data.
                                    </li>
                                    <li>
                                        Developed various layers of business logic, data access layer using Java(8) and used Microsoft SQL Server.
                                    </li>
                                    <li>
                                        Used Microservices architecture to isolate software functionality into multiple independent modules which were responsible for performing predefined, standalone tasks. These modules communicated with each other through universally accessible APIs.
                                        <ul>
                                            <li>
                                                Used Consul service mesh to implement service discovery for various services in Kubernetes cluster.
                                            </li>
                                            <li>
                                                Incrementally extract modules out of the monolith and convert them into multiple independent services.
                                            </li>
                                            <li>
                                                Used cert-manager CRD in Kubernetes to automate the management and issuance of TLS certificates.
                                            </li>
                                            <li>
                                                Used docker tool to create containers to package up an application with all of the parts it needs.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--Work exp 1-->
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">CatalystOne Info Solutions Pvt Ltd.</span>
                    <span class="mat-body display-block m-0">Senior Software Engineer</span>
                    <span class="mat-body">Dec, 2020 - Present</span>
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            Developed endpoint in monolith using Jersey RESTful Web Services.
                        </li>
                        <li>
                            Added/enhanced unit test coverage using JUnit and mokito.
                        </li>
                        <li>
                            Researched and proposed various secuirty by default methods for various micro-apps in microservices architecture.
                        </li>
                        <li>
                            Performed audit of various services in micro-services architecture for missing components.
                        </li>
                    </ul>
                </div>
            </div> -->
            <!--Work exp 2-->
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">CatalystOne Info Solutions Pvt Ltd.</span>
                    <span class="mat-body display-block m-0">Software Developer</span>
                    <span class="mat-body">May, 2018 - Nov, 2020</span>
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            Developed candidate api backend to be conusmed by 3rd party recuritment tool like <b>ReachMee</b>.
                        </li>
                        <li>
                            Acted as security champ to monitor and patch vulnerable code and libraries.
                        </li>
                        <li>
                            Modified existing code to increase performance of application by 70%.
                        </li>
                        <li>
                            Implemented private email feature in module workflows and let user login to application as temporary/external user.
                        </li>
                        <li>
                            Implemented support for visibility filters feature in workflow module to show or hide fields in user profile based on filter criteria.
                        </li>                        
                    </ul>
                </div>
            </div> -->

            <!--Work exp 3-->
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">CatalystOne Info Solutions Pvt Ltd.</span>
                    <span class="mat-body display-block m-0">Associate Java Developer</span>
                    <span class="mat-body">July, 2016 - April, 2018</span>
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            Implemented support for multiple role profiles in workflows module using Java.
                        </li>
                        <li>
                            Implemented new date calculation mechanism that converts entered days to deadline date for task based on start date and vice versa.
                        </li>
                        <li>
                            Implemented new UI for module workflows.
                        </li>
                        <li>
                            Developed new feature in trigger mails to send notification mails for scheduled data in user profile.
                        </li>
                        <li>
                            Developed custom system roles and integrated them to person type fields in catalystone application.
                        </li>
                    </ul>
                </div>
            </div> -->

            <!--Work exp 4-->
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">CatalystOne Info Solutions Pvt Ltd.</span>
                    <span class="mat-body display-block m-0">Trainee - Java Developer</span>
                    <span class="mat-body">April, 2016 - July, 2016</span>
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            Developed rewards and recognition(R&R) module in catalystone application using Java as backend, sql server as database storage and velocity template engine for merging html template with dyanamic data.
                        </li>
                        <li>
                            Documented various sections of application on Confluence to be used for training new hires.
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        <!--Projects-->
        <div fxFlex>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faLightbulb" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;">PROJECTS</span>
                </div>
            </header> 
            <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">Task Manager</span>     
                    <span class="mat-body display-block m-0">Micro-services app</span>               
                </header>
                <div class="pl-5">
                    <ul style="text-align: justify;">
                        <li>
                            Built a micro-services architecture application that provides management services like invoice manager and task board which allow users to manage their task and help organisation's digitize their invoice generation system. The whole project is divided into various micro-apps based on their individual responsibility that each micro app need to perform.
                        </li>                    
                        <li>
                            Technology used:
                            <ul>
                                <li>
                                    Angular(8+) for frontend client application.
                                </li>
                                <li>
                                    Java Spring Framework, ASP.NET Core web api for backend micro web apps, gRPC for inner app communication and REST pattern for communicating with client.
                                </li>
                                <li>
                                    Consul Service Mesh combined with Ocelot Api to built a gateway api for communication with client application.
                                </li>
                                <li>
                                    Docker for container image creation, Kubernetes for container-orchestration for automating computer application deployment, scaling, and management.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">Music Store</span>     
                    <span class="mat-body display-block m-0">ASP.NET MVC web app</span>               
                </header>
                <div class="pl-5">
                    <ul style="text-align: justify;">
                        <li>
                            Music Store Web App let users access their favourite music albums and listen them over the internet. User's can create personalized playlist, add album or songs to their favourites.
                        </li>                                            
                        <li>
                            Technology used:
                            <ul>
                                <li>
                                    ASP.NET framework to build core framework and c# to write business logic.
                                </li>
                                <li>
                                    ASP.NET Razor to create dynamic web pages with the C#.
                                </li>                             
                                <li>
                                    Entity framework object–relational mapping(ORM), LINQ tools for storing and accessing the data in the database.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>  
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">Mailer app</span>     
                    <span class="mat-body display-block m-0">Angular app</span>               
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            Mailer app is an front-end(client) SPA app built on angular framework for visualizing personalized emails and its content.
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">Music Store</span>     
                    <span class="mat-body display-block m-0">Asp.net MVC</span>               
                </header>
                <div class="pl-5">
                    <ul>
                        <li>
                            A web application build with ASP.net MVC offers music of various genres. Also manages user's playlist and favourites.
                        </li>
                    </ul>
                </div>
            </div>            -->
        </div>
        <!--Education-->
        <!-- <div fxFlex>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faGraduationCap" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;">EDUCATION</span>
                </div>
            </header>
            <div>
                <header class="pl-5 mt-2">
                    <span class="mat-h1 display-block m-0">I. K. Gujral Punjab Technical University</span>
                    <span class="mat-body display-block m-0">2012 - 2016 Amritsar, Punjab IN</span>
                    <span class="mat-body">Bachelor's of Technology Computer Science and Engineering</span>
                </header>
            </div>         
        </div> -->
    </div>
</div>