/* Variables */

$background: #212529;

$color-primary: #2196f3;
$color-light: white;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: "Oswald", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

.sidebar {
  background-color: #2196f3;
  & ul {
    padding: 0;
    margin: 0;
    & li {
      list-style-type: none;
    }
  }
}

.timeline {
  border-left: $line solid $color-primary;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;

  margin: 0px;
  margin-left: 1.7rem;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  // font-size: 1.03em;
  padding: 10px;
  padding-top: 0;
  list-style: none;
  text-align: left;
  color: $background;

  .event {
    margin-bottom: 15px;
    position: relative;

    & ul.pointers {
      padding: 0;
      & li {
        position: relative;
        list-style-type: none;
        text-align: justify;
        // border: 1px solid;
        padding-left: 5px;
        &:after {
          position: absolute;
          border: 1px solid #000;
          display: block;
          content: "";
          width: 10px;
          top: 8px;
          left: -17px;
        }
      }
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: 0px;
      content: attr(data-date);
      text-align: right;
      width: 200px;
      text-align: center;
    }

    &:after {
      box-shadow: 0 0 0 $dotborder rgb(50, 150, 243);
      left: -18px;
      background: lighten($background, 5%);
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 20px;
    }
  }
}
