<div class="container-fluid p-0" fxLayout="row">
    
    <div  fxFlex="280px" class="sidebar">
        <header class="padding10 text-center">
            <span class="mat-display-3 display-block m-0"><b>Bibek</b> Saini</span>
            <span class="mat-h3 display-block">Senior Software Engineer.</span>
            <hr>
        </header>
        <div class="padding10">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faIdBadge" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1"><b>CONTACT</b> ME</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>           
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGlobe" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://itsbibeksaini.com" target="_blank">itsbibeksaini.com</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faEnvelope" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="mailto:itsbibeksaini@gmail.com">itsbibeksaini@gmail.com</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faMobileAlt" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3">+91 9478889924</span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGithub" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://github.com/itsbibeksaini">github.com/itsbibeksaini</a></span>
                    </div>                    
                </li>
                <li class="container-fluid">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faLinkedin" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h3"><a href="https://www.linkedin.com/in/itsbibeksaini/">linkedin.com/in/itsbibeksaini</a></span>
                    </div>                    
                </li>   
            </ul>
        </div>

        <div class="padding10 mt-2">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faTools" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1">SKILLS</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>   
                </li>
                <li class="pl-3">
                    <ul>
                        <li>
                            <header>
                                <span class="mat-h3 font-weight-bold">FRONTEND</span>
                            </header>
                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Angular 7+</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>React.js</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>HTML5</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>CSS3</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>SCSS</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Javascript(ES6+)</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Typescript</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">BACKEND</span>
                            </header>

                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Java 7+</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Asp.net core</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Entity framework</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Spring boot</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>JPA</span>
                                    </div>
                                </div>       
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Spring data</span>
                                    </div>
                                </div> 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">DATABASE TOOLS</span>
                            </header>
                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>SQL Server</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Azure SQL</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>MongoDB</span>
                                    </div>
                                </div>                                   
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">DEPLOYMENT TOOLS</span>
                            </header>
                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Docker</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Kubernetes</span>
                                    </div>
                                </div>              
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Azure kubernetes</span>
                                    </div>
                                </div>                    
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Helm</span>
                                    </div>
                                </div> 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">FRAMEWORKS & DESIGN PATTERNS</span>
                            </header>
                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Micro-services</span>
                                    </div>
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>RESTful API</span>
                                    </div>
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>gRPC</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Consul</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Ocelot</span>
                                    </div>                                    
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Helm</span>
                                    </div>
                                </div> 
                            </div>
                        </li>
                        <li class="mt-2">
                            <header>
                                <span class="mat-h3 font-weight-bold">VERSION CONTROL</span>
                            </header>
                            <div class="container-fluid p-0 skills-section" fxLayout="row wrap">                                
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Git</span>
                                    </div>
                                </div>  
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Mercurial</span>
                                    </div>
                                </div>
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Github</span>
                                    </div>                                    
                                </div> 
                                <div fxFlex="fit-content" class="p-1">
                                    <div>
                                        <span>Bitbucket</span>
                                    </div>
                                </div>                                
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="padding10 mt-2">
            <ul>
                <li class="container-fluid" fxLayout="row wrap">
                    <div fxFlex="30px" class="position-relative">
                        <fa-icon [icon]="faGraduationCap" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex>
                        <span class="mat-h1">EDUCATION</span>
                    </div>         
                    <div fxFlex="100%">
                        <hr>
                    </div>   
                </li>
                <li class="pl-3">
                    <span class="mat-h2 display-block m-0">I. K. Gujral Punjab Technical University</span>
                    <span class="mat-body display-block m-0">2012 - 2016 Amritsar, Punjab IN</span>
                    <span class="mat-body">Bachelor's of Technology Computer Science and Engineering</span>
                </li>
            </ul>
        </div>
    </div>
    <div fxFlex class="container-fluid padding10" fxLayout="column">
        <div>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faStar" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;">HIGHLIGHTS</span>
                </div>
            </header>

            <div class="pl-2">
                <ul>
                    <li>
                        6 years of experience as full stack software engineer in developing SaaS applications, building HCM cloud application.
                    </li>
                    <li>
                        Bachelor's degree in Computer Science and Engineer.
                    </li>
                    <!-- <li>
                        Bachelor's degree in Computer Science and Engineer. Also assessed for Canadian equivalence by WES:
                        <a class="display-block" href="https://www.credly.com/badges/f81933cf-67bb-4017-aba1-5fd8b6912eae/public_url">https://www.credly.com/badges/f81933cf-67bb-4017-aba1-5fd8b6912eae/public_url</a>
                    </li> -->
                    <li>
                        Well proven analytical, communication and decision making skills with ability to learn fast, innovate and problem solve under pressure.
                    </li>
                    <li>
                        Successful delivered multiple sessions on various topics like factory pattern, at organization level.
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faBriefcase" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;"><b>WORK</b> EXPERIENCE</span>
                </div>
            </header>
            
            <ul class="timeline">
                <li class=" mt-2 ml-1 mb-2">
                    <span class="mat-h1 font-weight-bold">CatalystOne Info Solutions Pvt Ltd.</span>
                </li>
                <li class="event" >
                    <div style=" padding: 0px 5px;">
                        <span class="mat-h3 display-block m-0 font-weight-bold">Senior Software Engineer</span>
                        <span class="mat-small display-block m-0">(July, 2018 - Present)</span>                        
                    </div>
                    <div class="mt-2">
                        <ul class="pointers">
                            <li>
                                Developed multiple frontend applications, re-usable components using Angular(8+), RxJS, Observables, TypeScript, JavaScript(ES6+).
                            </li>
                            <li>
                                Developed UI/UX components using HTML5, CSS3(Bootstrap, Material UI and Animate.css) and CSS preprocessors such as SAAS and LESS.
                            </li>
                            <li>
                                Built RESTful API's to perform CRUD operations and used Swagger(OpenAPI) to design, build and document.
                            </li>
                            <li>
                                Mentored multiple teams for building strategies of various modules.
                            </li>
                            <li>
                                Used Jira, Confluence for software documentation & sprint management.
                            </li>
                            <li>
                                Used Microservices architecture to isolate software functionality into multiple independent modules which were responsible for performing predefined, standalone tasks. These modules communicated with each other through universally accessible APIs.
                                <ul>
                                    <li>
                                        Used Consul service mesh to implement service discovery for various services in Kubernetes cluster.
                                    </li>
                                    <li>
                                        Incrementally extract modules out of the monolith and convert them into multiple independent services.
                                    </li>
                                    <li>
                                        Fine tunes services for the resources that they can request and has limits in Kubernetes environment. Also, added various horizontal pod autoscale(HPA) strategies.
                                    </li>
                                    <li>
                                        Added Kubernetes probes which ensures container inside a pod is healthy and ready to serve.
                                    </li>
                                    <li>
                                        Used cert-manager CRD in Kubernetes to automate the management and issuance of TLS certificates.
                                    </li>
                                    <li>
                                        Used docker tool to create containers to package up an application with all of the parts it needs.
                                    </li>
                                    <li>
                                        Added support for SpringBoot Admin(SBA) to collect metrics provided by actuator endpoints. 
                                    </li>
                                </ul>                                
                            </li>
                            <li>
                                Deployed Azure Pipelines for CI/CD, TDD to automate deployment on Azure Kubernetes Services(AKS).
                            </li>
                            <li>
                                Used Microsoft SQL Server and made Entity Relationship Diagrams(ERD) to visualize business model.                                
                            </li>
                            <li>
                                Version control system using GIT repository, created pull requests, did code reviews and managed branches.
                            </li>                                                    
                        </ul>
                    </div>
                </li>
                <li class="event">
                    <div style=" padding: 0px 5px;">
                        <span class="mat-h3 display-block m-0 font-weight-bold">Software Developer</span>
                        <span class="mat-small display-block m-0">(April, 2016 - July, 2018)</span>                        
                    </div>
                    <div class="mt-2">
                        <ul class="pointers">
                            <li>
                                Designed rewards and recognition(R&R) module that will help to increase motivation of employee to get the best achievement.
                                <ul>
                                    <li>
                                        Designed interactive UI using HTML5, CSS3, jQuery and used Apache velocity template engine to merge dynamic data in template.
                                    </li>
                                    <li>
                                        Created REST API endpoints using SpringBoot, JPA, Spring Data.
                                    </li>
                                    <li>
                                        Developed various layers of business logic, data access layer using Java(8) and used Microsoft SQL Server.
                                    </li>
                                    <li>
                                        Designed and implemented Invoice Manager to help client's organisation digitize their invoice generation system and manage their sales data.
                                        <ul>
                                            <li>
                                                Designed backend application using ASP.NET MVC and implemented core framework using C#.
                                            </li>
                                            <li>
                                                Used Dependency Injection to reduce the tight coupling among software components.
                                            </li>
                                            <li>
                                                Used Entity Framework Object Relational Mapping (ORM) framework for storing and accessing the data in the database.
                                            </li>
                                            <li>
                                                Wrote unit test using xUnit.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <header class="container-fluid">
                <div fxFlex="30px" class="position-relative">
                    <fa-icon [icon]="faLightbulb" class="icon-21 centralize"></fa-icon>
                </div>
                <div fxFlex>
                    <span class="mat-display-1" style="color:  #2196F3;">PROJECTS</span>
                </div>
            </header>
            <div>
                <header class="pl-5">
                    <span class="mat-h1 display-block m-0">Task Manager</span>     
                    <span class="mat-body display-block m-0">Micro-services app</span>               
                </header>
                <div class="pl-5">
                    <ul class="m-0">
                        <li>
                            Built on micro-services architecture this application provides management services like invoice manager and task board which allow users to manage their task and help organisation's digitize their invoice generation system. The whole project is divided into various micro-apps based on their individual responsibility that each micro app need to perform, which are deployed on Azure Kubernetes Services.
                        </li>
                        <li>
                            Technology used:
                            <ul>
                                <li>
                                    Angular(8+) for frontend client application.
                                </li>
                                <li>
                                    Java Spring Framework, ASP.NET Core web api for backend micro web apps, gRPC for inner app communication and RESTful API for communicating with client.
                                </li>
                                <li>
                                    Consul Service Mesh combined with Ocelot Api to built a gateway api for communication with client application.
                                </li>
                                <li>
                                    Docker for container image creation, Kubernetes for container-orchestration for automating computer application deployment, scaling, and management.
                                </li>
                            </ul>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div>
                <header class="pl-5">
                    <span class="mat-h1 display-block m-0">Workflows</span>     
                    <span class="mat-body display-block m-0">Java EE</span>               
                </header>
                <div class="pl-5">
                    <ul class="m-0">
                        <li>
                            Workflows modules help organizations to manage tasks which occurs in particular order. With workflows organizations can design the flow with various pre-defined task.
                        </li>
                        <li>
                            Technology used:
                            <ul>
                                <li>
                                    Java EE, Apache velocity to create dynamic web pages including various other tech: HTML, jQuery, JavaScript, CSS.
                                </li>
                                <li>
                                    Factory pattern is used at heart of module in combination with MVC approach.
                                </li>
                                <li>                                    
                                    MS SQL Server is used to store data in various tables and DAO layers has been designed to retrieve this data.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
            <div>
                <header class="pl-5 mt-5">
                    <span class="mat-h1 display-block m-0">Pending task service</span>     
                    <span class="mat-body display-block m-0">SpringBoot</span>               
                </header>
                <div class="pl-5">
                    <ul class="m-0">
                        <li>
                            Pending task service collects various task information from different services in micro-services architecture and helps in presenting it in singular form.
                        </li>
                        <li>
                            Technology used:
                            <ul>
                                <li>
                                    SpringBoot framework to build core framework and Java to write business logic.
                                </li>                                
                                <li>                                    
                                    JPA and SpringData for storing and accessing the data in database.
                                </li>
                                <li>
                                    Swagger(OpenAPI) for api documentation.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>