<div class="sidebar">
    <ul>
        <li>
            <img class="profile-image" src="assets/profile-image/profile-image40x40.jpg">
        </li>
    </ul>

    <ul class="app-options">
        <li matRipple>
            <div>
                <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div>
                <span>Home</span>
            </div>
        </li>
        <li matRipple>
            <div>
                <fa-icon [icon]="faLaptopHouse"></fa-icon>
            </div>
            <div>
                <span>Work</span>
            </div>
        </li>
        <li matRipple>
            <div>
                <fa-icon [icon]="faLaptopCode"></fa-icon>
            </div>
            <div>
                <span>projects</span>
            </div>
        </li>
        <li matRipple>
            <div>
                <fa-icon [icon]="faCogs"></fa-icon>
            </div>
            <div>
                <span>skills</span>
            </div>
        </li>
    </ul>
    
    <ul class="social-media-options">
        <li>
            <button mat-icon-button>
                <fa-icon [icon]="faGithub" class="icon-21 margin-auto"></fa-icon>            
            </button>            
        </li>
        <li>
            <button mat-icon-button>
                <fa-icon [icon]="faLinkedin" class="icon-21 margin-auto"></fa-icon>            
            </button>            
        </li>
        <li>
            <button mat-icon-button>
                <fa-icon [icon]="faFacebook" class="icon-21 margin-auto"></fa-icon>            
            </button> 
        </li>
        <li>
            <button mat-icon-button>
                <fa-icon [icon]="faInstagram" class="icon-21 margin-auto"></fa-icon>            
            </button> 
        </li>

    </ul>    
</div>